@use "sass:list";

@mixin surface($class) {
  window.#{$class} {
    @content;
  }
}

@mixin floating-border($elevation-shadows...) {
  $shadows: (
    inset 0 0 0 1px var(--ags-color-surface-keyline),
    0 0 0 1px var(--ags-color-surface-border),
  );

  @each $shadow in $elevation-shadows {
    $shadows: list.append($shadows, $shadow, comma);
  }

  border: none;
  box-shadow: $shadows;
}
