@mixin panel {
  background-color: color-mix(in srgb, var(--ags-color-background-secondary) 90%, transparent);
  border: 1px solid var(--ags-color-border-hover);
  border-radius: 12px;
}

@mixin close-button {
  min-width: 32px;
  min-height: 32px;
  margin: 3px 4px 0 0;
  padding: 0;

  label {
    font-family: "Segoe Fluent Icons", "Segoe UI Symbol", sans-serif;
    font-size: 12px;
  }
}
