lazy-lock.json
.config/fish/private.fish
.config/fish/fish_variables
.config/github-copilot/**/*
.config/configstore/**/*
.config/raycast/**/*
**/nvim/.sessions/**/*
**/nvim/.undo/**/*
**/TabNine/**/*
**/.backup/**/*
