[user]
  name = Frederik Bosch
  email = 6979916+fbosch@users.noreply.github.com

[core]
  pager = delta

[delta]
  navigate = true
  light = false
  line-numbers = true
  side-by-side = true
  features = side-by-side line-numbers decorations
  syntax-theme = "Zenwritten Dark"
  plus-style = syntax "#233017"
  minus-style = syntax "#531b28"

[delta "interactive"]
  keep-plus-minus-markers = true

[delta "decorations"]
  commit-decoration-style = bold white box 
  file-style = omit
  file-decoration-style = none
  hunk-header-decoration-style = "#3D3839" box ul
  hunk-header-style = file line-number syntax
  line-numbers-plus-style = "#819B69"
  line-numbers-minus-style = "#DE6E7C"
  line-numbers-left-style = "#3D3839"
  line-numbers-right-style = "#3D3839"

[interactive]
  diffFilter = delta --color-only --features=interactive
  pager = delta

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
