.DS_Store
lazy-lock.json
.config/fish/private.fish
.config/fish/fish_variables
.config/fish/functions/__*
.config/github-copilot/**/*
.config/configstore/**/*
.config/raycast/**/*
.config/broot/**/*
**/nvim/.sessions/**/*
**/nvim/.undo/**/*
**/TabNine/**/*
**/.backup/**/*
