[user]
  name = Frederik Bosch
  email = 6979916+fbosch@users.noreply.github.com

[includeif "gitdir:~/Projects/KommuneKredit.Frontend/"]
    path = ~/Projects/KommuneKredit.Frontend/.gitconfig

[core]
  pager = delta --diff-so-fancy
	untrackedcache = true
	fsmonitor = true

[status]
  relativePaths = true

[push]
  default = current
	autoSetupRemote = true

[pull]
  rebase = false

[color]
  ui = true

[diff-so-fancy]
	changeHunkIndicators = false

[mergetool "nvim"]
  cmd = nvim -f -c \"DiffviewOpen\" \"$MERGED\"

[merge]
  tool = nvim
  conflictstyle = diff3

[diff]
  algorithm = patience
  colorMoved = default

[delta]
  features = decorations line-numbers
  hunk-header-style = omit
  syntax-theme = "Zenwritten Dark"
  side-by-side = true

[delta "interactive"]
  keep-plus-minus-markers = true

[delta "line-numbers"]
  line-numbers = true
  line-numbers-plus-style = "#819B69"
  line-numbers-minus-style = "#DE6E7C"
  line-numbers-left-style = "#3D3839"
  line-numbers-right-style = "#3D3839"

[delta "decorations"]
  plus-style = syntax "#233017"
  minus-style = syntax "#531b28"
  commit-decoration-style = bold white box
  file-style = omit
  file-decoration-style = omit

[interactive]
  diffFilter = delta --color-only --features=interactive 

# automatically fix typos
[alias]
  psuh = push
  puhs = push
  pushj = push
  pul = pull
  comit = commit
  commti = commit
  chekcout = checkout
  brnach = branch

[rerere]
	enabled = true
[maintenance]
	repo = /Users/fbb/Projects/KommuneKredit.Frontend/main
[gpg]
	format = ssh
; [commit]
; 	gpgsign = true
