* {
  font-family: "Tahoma", "Segoe Fluent Icons", sans-serif;
  font-size: 0.85rem;
}

window#waybar {
  all: unset;
}

window#waybar {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0 5px;
  background-color: rgba(25, 25, 25, 0.4);
  transition-property: background-color;
  transition-duration: 0.5s;
}

.modules-right {
  padding: 3px 10px;
}


.modules-left button:nth-child(1):only-child {
  opacity: 0;
}

#network {
  margin-left: 0.75em;
  margin-right: 0.25em;
  font-size: 0.9rem;
}

#clock {
  font-size: 0.75rem;
  margin-left: 0.75em;
}

#tray {
  padding: 0 8px;
  margin: 2px 0px;
  border-radius: 5px;
  background-color: rgba(25,25,25,0.5)
}

#pulseaudio {
  margin: 0 5px;
  font-size: 1.1rem;
  min-width: 25px;
}

#language{
  font-size: 1rem;
}

#taskbar button {
  border-radius: 0;
  border-bottom: 2px solid transparent;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

  transition-property: border-color;
  transition-duration: 150ms;
}

#taskbar button.active {
  border-bottom: 2px solid #fff;
  font-weight: bold;
}

#workspaces button {
  border-bottom: 2px solid transparent;
  transition-property: border-color;
  transition-duration: 150ms;
}

#workspaces button:only-child {
  opacity: 0;
}

#workspaces button.active {
  border-bottom: 2px solid #fff;
  border-radius: 0;
}
