/* * { */
  /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
  /* font-family: "JetBrains Mono", sans-serif; */
  /* border: none; */
  /* text-shadow: none; */
  /* box-shadow: none; */
  /* border-radius: 0; */
  /* font-weight: 500; */
  /* font-size: 12.7px; */
/* } */

* {
  font-family: "Tahoma", sans-serif;
}

window#waybar {
  all: unset;
}

window#waybar {
  padding: 0 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  background-color: rgba(0, 0, 0, 0.4);
  transition-property: background-color;
  transition-duration: 0.5s;
}



.modules-right {
  padding: 0 10px;
}

#clock {
  font-size: 12px;
  margin-left: 10px;
}

#tray {
  padding: 0 10px;
}

#taskbar button {
  border-radius: 0;
  border-bottom: 3px solid #969696;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);

  transition-property: border-color;
  transition-duration: 150ms;
}

#taskbar button.active {
  border-bottom: 3px solid #808080;
}

#workspaces button {
  border-bottom: 3px solid #969696;

  transition-property: border-color;
  transition-duration: 150ms;
}

#workspaces button.active {
  border-bottom: 3px solid #fff;
  border-radius: 0;
}
