// Edit via `hyprshell config edit`, generate via `hyprshell config generate`
(
    version: 3,
    windows: (
        scale: 8.5,
        items_per_row: 5,
        overview: None,
        switch: (
            modifier: "alt",
            filter_by: [
                current_monitor,
            ],
            switch_workspaces: false,
        ),
    ),
)
