(
    syntax: some("ZenWritten Dark"),
    selected_tab: Some("Reset"),
    command_fg: Some("#CCCECE"),
    selection_bg: Some("#5F6364"),
    selection_fg: Some("#CCCECE"),
  cmdbar_extra_lines_bg: Some("#e6e9ef"),
    cmdbar_bg: Some("#191919"),
    disabled_fg: Some("#8c8fa1"),
    diff_line_add: Some("#8BAE68"),
    diff_line_delete: Some("#DE6E7C"),
    diff_file_added: Some("#8BAE68"),
    diff_file_removed: Some("#DE6E7C"),
    diff_file_moved: Some("#b279a7"),
    diff_file_modified: Some("#B77E64"),
    commit_hash: Some("#6099C0"),
    commit_time: Some("#5c5f77"),
    commit_author: Some("#8BAE68"),
    danger_fg: Some("#A8334C"),
    push_gauge_bg: Some("#1e66f5"),
    push_gauge_fg: Some("#eff1f5"),
    tag_fg: Some("#E5B769"),
    branch_fg: Some("#179299")
)
