Theme (
  selected_tab: Some("#978978"),
  command_fg: Some("#978978"),
  selection_bg: Some("#292522"),
  selection_fg: Some("#978978"),
  cmdbar_bg: Some("#26231c"),
  cmdbar_extra_lines_bg: Some("#292522"),
  disabled_fg: Some("#6f695b"),
  diff_line_add: Some("#6c8b30"),
  diff_line_delete: Some("#b4637a"),
  diff_file_added: Some("#6c8b30"),
  diff_file_removed: Some("#b4637a"),
  diff_file_moved: Some("#ea9d34"),
  diff_file_modified: Some("#b5b07a"),
  diff_file_renamed: Some("#ea9d34"),
  commit_hash: Some("#6c8b30"),
  commit_time: Some("#978978"),
  commit_author: Some("#6c8b30"),
  commit_message: Some("#978978"),
  commit_branch: Some("#ea9d34"),
  msg_error_bg: Some("#b4637a"),
  msg_error_fg: Some("#292522"),
  msg_info_bg: Some("#978978"),
  msg_info_fg: Some("#26231c"),
  msg_warn_bg: Some("#ea9d34"),
  msg_warn_fg: Some("#26231c"),
  tags_fg: Some("#7a8478"),
  branch_fg: Some("#ea9d34"),
  path_fg: Some("#978978"),
  file_fg: Some("#978978"),
  file_staged_fg: Some("#6c8b30"),
  file_modified_fg: Some("#b5b07a"),
  file_added_fg: Some("#6c8b30"),
  file_removed_fg: Some("#b4637a"),
  file_renamed_fg: Some("#ea9d34"),
  hunk_head_fg: Some("#ea9d34"),
  hunk_head_bg: Some("#292522"),
  blame_fg: Some("#7a8478"),
  popup_bg: Some("#26231c"),
  popup_title_fg: Some("#ea9d34"),
  popup_border_fg: Some("#978978"),
  text_fg: Some("#978978"),
  text_bg: Some("#26231c"),
  table_header_fg: Some("#ea9d34"),
  table_header_bg: Some("#292522"),
  table_selected_fg: Some("#26231c"),
  table_selected_bg: Some("#ea9d34"),
)

