
@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Thin.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-ThinOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-ThinOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-ThinItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-ExtraLight.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-ExtraLightOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-ExtraLightOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-ExtraLightItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Light.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-LightOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-LightOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-LightItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Regular.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-Oblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-Oblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-Italic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Medium.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-MediumOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-MediumOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-MediumItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-SemiBold.woff2') format('woff2'), url('TTF/Zenbones-Brainy-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-SemiBoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-SemiBoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-SemiBoldItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Bold.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-BoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-BoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-BoldItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-ExtraBold.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-ExtraBoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-ExtraBoldOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-ExtraBoldItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/Zenbones-Brainy-Heavy.woff2') format('woff2'), url('TTF/Zenbones-Brainy-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/Zenbones-Brainy-HeavyOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/Zenbones-Brainy-HeavyOblique.woff2') format('woff2'), url('TTF/Zenbones-Brainy-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Zenbones Brainy Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/Zenbones-Brainy-HeavyItalic.woff2') format('woff2'), url('TTF/Zenbones-Brainy-HeavyItalic.ttf') format('truetype');
}
