format = "$character"
right_format = """
$directory\
$git_branch\
$git_state\
$git_metrics\
$git_status\
$nodejs\
$cmd_duration
"""

[character]
success_symbol = "[ ᚠᛒᛒ ](bold cyan)[᛫](cyan)"
error_symbol = "[ ᛖᚱᚱ ](bold red)[᛫](red)"
vicmd_symbol = "[ ᚹᛁ ᛫](bold green)"

[python]
disabled = true

[git_metrics]
added_style = "bold blue"
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[directory]
truncation_length = 6
truncation_symbol = "…/"
read_only = "  "

[nodejs]
format = '[](bold fg:41) via $version'
