# Timeout for git commands - increased for repos with many files
command_timeout = 2000
continuation_prompt = "[ᛃ︁ ](dimmed white)"

format = """$username\
$os\
$hostname\
$character\
$sudo"""

right_format = """
$directory
$git_branch
$git_state
$git_metrics
$git_status
$cmd_duration
"""

[character]
# success_symbol = "[ ᚠᛒᛒ](#9e9e9e)[᛫](cyan)"
# error_symbol = "[ ᚾᚨᚢᚦ](bold red)[᛫](red)"
success_symbol = "[⊢](dimmed white)"
error_symbol = "[⊢](bold red)"

# Disabled sudo - was taking 17ms for no output
# Re-enable if you frequently use sudo
[sudo]
format = "[$symbol]($style)"
style = "bold italic bright-red"
symbol = "ᛊ "
disabled = true

[username]
show_always = true
format = " [$user](bright white) "

[hostname]
ssh_only = true
format = '[$hostname](yellow) '
trim_at = "."
disabled = false
aliases = { "rvn-srv" = "srv", "rvn-pc" = "pc" }

[os]
disabled = false
format = '[$symbol]($style) '  # Space after the symbol

[os.symbols]
Windows = "[](bold blue)"
NixOS = "[](bold #7EBAE4)"
Macos = "[](bold bright white)"
Raspbian = "[](bold #C51A4A)"
Ubuntu = "[](bold #E95420)"
Arch = "[󰣇](bold #1793D1)"
Linux = "[](bold yellow)"


[python]
disabled = true

# Optimized git_metrics - colors matched to Zenwritten Dark theme
[git_metrics]
disabled = false
ignore_submodules = true
only_nonzero_diffs = true
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '
added_style = '#819B69'      # Zenwritten green
deleted_style = '#DE6E7C'    # Zenwritten red

[directory]
home_symbol = "~"
truncation_length = 6 
truncate_to_repo = true
truncation_symbol = "…/"
read_only = " ᛇ "

[nodejs]
format = '[󰎙](bold fg:#84ba64)  [$version](fg:#84ba64) '

[time]
disabled = false
time_format = '%R'

# Only show command duration for commands taking longer than 1 second
[cmd_duration]
min_time = 1000
format = 'took [$duration]($style) '


