command_timeout = 2000

format = "$character"
right_format = """
$directory\
$git_branch\
$git_state\
$git_metrics\
$git_status\
$cmd_duration
 
"""

[character]
success_symbol = "[  ᚠᛒᛒ ](#9e9e9e)[᛫](cyan)"
error_symbol = "[  ᛖᚱᚱ ](bold red)[᛫](red)"
vicmd_symbol = "[  ᚹᛁ ᛫](bold green)"

[python]
disabled = true

[git_metrics]
added_style = "bold blue"
format = '[+$added]($added_style)/[-$deleted]($deleted_style) '

[directory]
truncation_length = 8
truncate_to_repo = true
truncation_symbol = "…/"
read_only = "  "


[nodejs]
format = '[󰎙](bold fg:#84ba64)  [$version](fg:#84ba64) '

[time]
disabled = false
time_format = '%R'
